
<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      Hi, <%= @user.first_name %>,
      
      <p>
         <h2>Awesome! We're pysched you joined EyeForWonder.</h2>
         You're now signed up to get email updates. 
         Your username is: 
         <%= @user.email %>.<br>
      </p>
      
      <p>
         Start learning a new skill and connect with locals to do amazing activities, just click this link: 
         <%= link_to 'https://www.eyeforwonder.com', 'https://www.eyeforwonder.com' %>. 
       
      </p>
      
      <p>Again, thanks for joining and have a great day!</p>

      <p>Welcome to the EyeForWonder community!</p>

      EyeForWonder Team
      
   </body>
</html>