<% if current_user.present? %>

<% else %>
	
	<div class="jumbotron">
		
		<div class="jumbotron text">
			<div class="text-center">
			<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></span>
	  				<span class="sr-only">Loading...</span>
	  		</div>
	  		<h2 class="text-center">Learn to Live your Greatness Every Day</h2>
	  		<h2	class="text-center">Learn New Skills to Continuously Improve</h2> 
	  		<h2	class="text-center">Connecting you with Locals to Experience Amazing Stuff</h2> 
		</div>
		<div class="text-center">
	   		<%= link_to 'Join Us', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
		</div>
	</div>
<% end %>

<div class="container-fluid" >
	<div class = 'row'>
		<%= render @experiences %>
	</div>
</div>