<div class="jumbotron">
  <h1>Welcome to Caper</h1>
  <p>Be an authentic traveler. Connecting you with locals to experience amazing stuff. Discover your city.</p> 
<!--  <p><a class="btn btn-primary btn-lg" href= "experiences_path" role="button">Learn more</a></p> -->
   <%= link_to 'Learn More', experiences_path, class: 'btn btn-primary btn-lg' %>
   
</div>

<div class = 'row'>
	<%= render @experiences %>
</div>