   <!-- Reviews -->
    <div class="row">
      <div class="col-md-12">
        <div class="container">
           <h3>Reviews</h3>
          <div>
            <%= render 'reviews/form' if @booked && !@hasReview %>
          </div>
          <div>
            <%= render 'reviews/list' %>
          </div>
        </div>
      </div>
    </div>