// Place all the styles related to the experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Classes to set fixed height of experience photos 
// @ import "jquery-ui";

@import "toastr";

.row {

  /* font-family: 'Londrina Shadow', cursive; */
  font-family: 'PT Serif';
  font-size: 15px;

}

caption {
    margin: -10, 0, 0, 0;
}


.caption p {
  font-size: 12px;
  margin: 0;
 
}

.caption h3 {
  font-size: 12px;
  margin: 2px;
}


.thumbnail {
  border: 0px none;
  max-height: 100%;
  max-height: 100%;
  padding-right: 0px;
  
}

.mydisplay > thumbnail {
  position: relative; 
  overflow: hidden; 

   
/*
  display: block; 
 */
  
}

/* Toggle experience info when cursor is enters the pics */
.description-style {
  opacity: 1;
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

/*
small {
  opacity: 0;
}
*/

.show-description p {
  height: 100px;
  opacity: 1;
}

.show-description small {
  opacity: 1;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  /*
  background-color: rgba(0, 0, 0, 0.8);
  */
} 

.small {
  opacity: 0;
}

.show-description small {
  opacity: 1;
}


img.hover-shadow {
  /* transition: 0.5s */
  transform: scale(0.5s);
}

.hover-shadow:hover {
  /*
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(0, 0, 0, 0.90);
  */
  


    -webkit-transform:scale(1.16); /* Safari and Chrome */
    -moz-transform:scale(1.16); /* Firefox */
    -ms-transform:scale(1.16); /* IE 9 */
    -o-transform:scale(1.16); /* Opera */
     transform:scale(1.16);

     

      opacity: 1;

   
}

.expname {
  color: white;
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  padding: 25px;
  line-height: 28px;
  width: 251px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 40px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;


}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* Display experience attribute */
.outer {
  
    /* border:solid 1px #000; */
    height: 100%;
    overflow:hidden; 
  
}

.leftcol {
    /*
    border:solid 1px green;
    */
    margin-left: 10px;
    overflow: hidden;
    
}

.rightcol {
  /*
    border:solid 1px red;
    */
    overflow-y:scroll;
    height: 100%; /* I WANT THIS BUT DYNAMICALLY CHANGES W/ .OUTER */
    width:   100%;      /* 900px; */
  



}


/* CSS used here will be applied after bootstrap.css */
/* Display 5 colums of experiences */

.col-sm-5cols{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 768px) {
.col-sm-5cols {
        width: 20%;
        float: left;
    }
}

/* Wait Cursor */
 #progressMessage
 {
    position:absolute;
    top:45%;
    left:25%;
    width:50%;
    z-index:3000;
 }

 #activityIndicator 
 {
   height: 32px;
   width: 32px;
   -webkit-background-size: 32px 32px;
   -o-background-size: 32px 32px;
   -moz-background-size: 32px 32px;
   background-size: 32px 32px;
   margin: 0px auto;
   background-image: url("activity_indicator.gif");
   background-color: transparent; 
}
