

<div class="footer">
  <div class="container">
    <br/>
    <div class="glyphicon glyphicon-copyright-mark text-muted ">Caper(2017)</div>
        <div class="pull-right">
            <a href="http://www.twitter.com/" title="Twitter" rel="nofollow" target="_blank">
              <i class="fa fa-twitter-square fa-lg twitter-blue"></i>
            </a>

            <a href="http://www.facebook.com/" title="Facebook" rel="nofollow" target="_blank">
              <i class="fa fa-facebook-square fa-lg facebook-blue"></i>
           </a>

            <a href="http://www.linkedin.com/" title="LinkedIn" rel="nofollow" target="_blank">
              <i class="fa fa-linkedin-square fa-lg linkedin-blue"></i>
            </a>
        </div>
    </div>
  </div>
</div>